<section class="new-training" fxLayout fxLayoutAlign="center">
  <form #f="ngForm" (ngSubmit)="onStartTraining(f)">
    <mat-card fxFlex.xs="100%" fxFlex="350px">
      <mat-card-title>Time to start a new workout!</mat-card-title>
      <mat-card-content>
        <mat-form-field color="accent" *ngIf="!loadingState && exercises">
          <mat-select placeholder="Choose Exercise"
                      ngModel name="exercise" required>
            <mat-option *ngFor="let exercise of exercises"
                        [value]="exercise.id">{{ exercise.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div fxLayoutAlign="center">
          <mat-spinner *ngIf="loadingState" color="accent"></mat-spinner>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button mat-raised-button color="accent"
                *ngIf="!loadingState && exercises"
                [disabled]="f.invalid">Start</button>
        <button mat-raised-button color="accent"
                *ngIf="!loadingState && !exercises" type="button" (click)="fetchExercises()">Fetch again</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
